.h1 {
  text-align: center;
  color: rgb(153, 212, 64);
}

.body {
  background-color: rgb(0, 0, 0);
}

.p {
  text-align: center;
  color: rgb(153, 212, 64);
}
.button {
  color: rgb(153, 212, 64);
  background-color: black;
  border-color: rgb(153, 212, 64);
  border-radius: 15px;
  font-size: larger;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.button:hover {
  transform: scale(1.05);
}
.deletecontainer {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
